.nav-list>li .submenu>li>a {
    color: #87b87f!important;
}
a.menu {
    font-size: 13px;
    color: #87b87f !important;
}
.nav-list>li>.submenu li.open>a {
    color: #799875;
}
.nav-list>li>.submenu li>.submenu>li a:hover [class*="icon-"] {
    color: #316292;
}
.nav-list>li .submenu>li>a:hover {
    color: #87b87f;
}
.nav-list>li.open>a {
    color: #799875;
}
.nav-list>li>a:hover {
    color: #799875;
}

.nav-list>li>a:hover:before {

    background-color: #799875;
}
.nav-list>li>.submenu li>.submenu>li a:hover {
    color: #87b87f;
    text-decoration: none;
}
.nav-list>li>.submenu li>.submenu li.open>a {
    color: #799875;
}
.nav-list>li>.submenu li>.submenu li.open>a>[class*="icon-"]:first-child {
    color: #799875;
}
/* 图标 */
.label-info, .badge-info {
    background-color: #799875!important;
}
.nav-list>li a:hover>.arrow, .nav-list>li.active>a>.arrow, .nav-list>li.open>a>.arrow {
    color: #799875;
}